## User settings
xcuserdata/
PhakamadS_MilosavljevicM_HealthTracker.xcodeproj/project.xcworkspace/xcuserdata/
PhakamadS_MilosavljevicM_HealthTracker.xcodeproj/xcuserdata/Bright.xcuserdatad/
.DS_Store
